{% load custom_tags %}

{% for app in appointments  %}
<tr id="appointment-{{ app.pk }}" class="appointment-row">
  <td>{{ forloop.counter }}</td>
  <td>
    {{app.guest.rank|add:" "|add:app.guest.first_name|add:" "|add:app.guest.last_name }}
  </td>
  <td style=" background-color: {{ StatusColor|get_color:app.status }} ">
    {{app.status}}
  </td>
  <td>
    {{app.purpose}}
  </td>
  <td>
    {{app.comming_date}}
  </td>
  <td>
    <button type="button" class="btn btn-secondary" hx-get="{% url 'edit_appointment' pk=app.pk %}"
      hx-target="#dialog">تعديل / حذف</button>
  </td>
</tr>
{%endfor%}