{% extends './base.html'%}
{% load static %}

{%block content%}
<div style="text-align:right;">
<button type="button" class="btn btn-secondary mb-4">استدعاء السكرتاريه</button>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>م</th>
      <th>الإسم</th>
      <th>الحالة</th>
      <th>الغرض</th>
      <th>معاد الوصول</th>
      <th></th>
    </tr>
  </thead>
  <tbody hx-trigger="load, refresh, appointmentListChanged from:body" hx-get="{% url 'appointment_list' %}"
    hx-target="this" id="tbody">
    <tr>
      <td class="spinner-border" role="status">
        <span class="visually-hidden">جارى التحميل...</span>
      </td>
    </tr>
  </tbody>
</table>
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" id="dialog" hx-target="this">
  </div>
</div>
<div class="toast-container position-fixed top-0 p-3 start-50 translate-middle-x">
  <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div id="toast-body" class="toast-body"></div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</div>

{% endblock %}